<script>
  document
    .getElementById("check-availability-button")
    .addEventListener("click", function () {
      let html = `    <form
        id="check-availability-form"
        action=""
        method="post"
        novaidate
        class="needs-validation"
      >
        <div class="row">
          <div clsass="col">
            <div class="row" id="reservation-dates-modal">
              <div class="col">
                <input
                  disabled
                  required
                  class="form-control"
                  type="text"
                  name="start"
                  id="start"
                  placeholder="Arrival"
                />
              </div>
              <div class="col">
                <input
                  disabled
                  required
                  class="form-control"
                  type="text"
                  name="end"
                  id="end"
                  placeholder="Departure"
                />
              </div>
            </div>
          </div>
        </div>
      </form>`;
      attention.custom({ msg: html, title: "Choose your dates" });
    });
</script>
